/* About Me Page  */

/* MOBILE STYLING */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}    

body {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

/* About Me Description */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
}

main h1 {
    padding: 1.25rem;
    text-decoration: underline;
    text-decoration-color: pink;
}

main article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
}

main article h3 {
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    text-decoration:underline;
    text-decoration-style: dotted;
    text-decoration-color: pink;
}


#career {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#IT_skills_list ul {
    margin: 1.5rem;
}

/* Resume */

.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.resume img {
    margin-top: 2rem;
}

/* Interests & Hobbies Description */
.interests {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interests img {
    align-self: center;
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

#interests p {
    align-self: flex-start;
}

/* TABLET STYLING */

@media only screen and (min-width: 800px) {
    
    /* About Me Description */

    main {
        flex-direction: row;
        flex-wrap: wrap;
        text-align: justify;
        margin: 2rem 8rem;
    }

    main article {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #career {
        flex-direction: row;
        flex-wrap: wrap;
    }

    main article h1 {
        padding: 1rem 0 1rem;
    }

    main article h3 {
        padding: 1rem 0 1rem;
    }

/* Resume */

    .resume {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .resume div{
        width: 100%;
    }

    .resume p {
        margin-bottom: 1.5rem; 
    }

    #resume_img {
        width: 100%;
    }

/* Interests */
    
    .interests {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .interests img {
        height: 50%;
        width: 50%;
        margin: 1rem;
    }
}

/* DESKTOP STYLING */
@media only screen and (min-width: 1000px) {

    main {
        margin: 2rem 13rem;
    }
}
    
@media only screen and (min-width: 1500px) {
    main {
        margin: 2rem 20rem;
    }
}