/* Blog Post Styling */

/* MOBILE STYLING */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Blog Post  */
body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2.5rem;
}

main h2 {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: pink;
    padding: 1rem 0 1rem;
}

main img {
    align-self: center;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
    width: 55%;
    height: 60%;
}

main p{
    text-align: justify;
}

/* TABLET STYLING */

@media only screen and (min-width: 800px) {

    main img{
        width: 40%;
        height: 40%;
    }

    main p {
        text-align: justify;
        width: 70%;
    }
    
}

@media only screen and (min-width: 1200px) {

    main img{
        width: 30%;
        height: 30%;
    }

}