/* Main Blog Page Styling */

/* MOBILE STYLING */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}    

body {
    display: flex;
    flex-direction: column;
}

/* Blog Posts Navigation */

main { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    text-decoration: underline;
    text-decoration-color: pink;
    padding: 1.25rem;
}

.blog_navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 3px lightgrey;
    border-radius: 5%;
    padding: 2rem 2rem;
    margin: 1.5rem;
    width: 90%;
}

section div {
    margin: 1rem;
}

section ul {
    list-style-type: none;
}

section ul li {
    margin: 0.2rem;
}

/* Blog Preview Section */
 
main article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border: solid 3px lightgrey;
    border-radius: 5%;
    padding: 1rem 0 2rem 0;
    width: 90%;
}

main article div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: 1.5rem;
    width: 90%;
}

main article h1 {
    padding: 1rem 0 1rem;
}

main article h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

main article h4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#blogpost-1-img {
    width: 55%;
    height: 50%;
    margin: 0 5rem;
}

#blogpost-2-img {
    width: 50%;
    height: 40%;
}

#blogpost-3-img {
    width: 55%;
    height: 45%;
}

#blogpost-4-img {
    width: 55%;
    height: 55%;
}

#blogpost-5-img {
    width: 80%;
    height: 90%;
}

/* Subscribe To Blog Button */

.button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subscribe {
    align-self: center;
    color: lightgrey;
    border: solid 1px grey;
    font-size: 1.3rem;
    padding: 0.75rem 1.25rem;
}

/* TABLET STYLING */

@media only screen and (min-width: 800px) {
    
    .blog_navigation {
        width: 50%;
    }

    main article {
        width: 60%;
    }
}

/* DESKTOP STYLING */

@media only screen and (min-width: 1000px) {


    .blog_navigation {
        width: 40%;
    }

    section {
        width: 50%;
        margin: 0 2rem 2rem;
    }
    
    main article {
        width: 50%;
    }
}