/* Profile Component */

/* MOBILE STYLING */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}    

/* Main Content */
.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.homepage div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile_photo {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#content {
    display: flex;
    flex-direction: column;
}

#content h1 {
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

#content h3 {
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

#content p {
    text-align: center;
    font-size: 1.1rem;
    margin: 0.1rem;
}

/* TABLET STYLING */

@media only screen and (min-width: 800px) {
    
/* Main Content */
    .homepage { 
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-self: center;
        margin: 4rem 0 4rem;
        width: 70%;
    }

    #profile_photo {
        width: 40%;
        height: 40%;
        border-radius: 50%;
    }

    #content {
        padding: 1rem;
        width: 60%;
    }
}

/* DESKTOP STYLING */

@media only screen and (min-width: 1000px) {
    
    .honmepage {
        align-self: center;
        width: 80%;
        margin: 10rem 0 10rem;
    }

    #profile_photo {
        width: 35%;
        height: 35%;
        border-radius: 50%;
    }

    #content {
        padding: 1rem;
    }
}
